@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alex+Brush&family=Arima+Madurai&family=Assistant&family=Cormorant+Garamond&family=Cormorant+Upright&family=Creepster&family=Great+Vibes&family=Italianno&family=Julee&family=Laila&family=Literata:opsz@7..72&family=Lora&family=Parisienne&family=Petit+Formal+Script&family=Playfair+Display&family=Pontano+Sans&family=Prata&family=Roboto+Mono&family=Rochester&family=Solitreo&family=Tangerine:wght@700&family=Taviraj&display=swap');

@font-face {
    font-family: "AutumnFlowers";
    src: url(../fonts/autumn-flowers-font/AutumnFlowers-9YVZK.otf);
}

@font-face {
    font-family: "Dolly";
    src: url(../fonts/dollyn-script-font/DollynScriptDemoRegular-Bym5.ttf);
}

@font-face {
    font-family: "BoldTestament";
    src: url(../fonts/bold-testament-font/BoldTestament-MxlY.ttf);
}

p,
a,
li {
    font-family: 'Laila', sans-serif;
    text-decoration: none;
    list-style: none;
    color: #1b1b1b;
}

body {
    background-color: rgb(246, 224, 240);
}

/* HEADER */

header {
    width: 100%;
    height: 40vh;
    background-color: rgb(247, 224, 240);
}

.header-image {
    height: 90%;
    position: absolute;
    top: 2%;
    left: 2%;
}

.header-image img {
    height: 36%;
    width: auto;
    transform: scaleX(-1);
}

.icons {
    font-size: 3vh;
    position: absolute;
    top: 3%;
    right: 3%;
}

.icons i {
    padding: 0.15em;
}

.logo-title {
    height: 75%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-title img {
    height: 70%;
    width: auto;
    margin-top: 0.5em;
}

.logo-title h1 {
    font-family: "AutumnFlowers";
    font-size: 9vh;
    position: relative;
    color: #642c5f;
}

/* HEADER NAV */

.main-nav {
    height: 25%;
    width: 100%;
    background-color: rgb(255, 243, 252);
}

.main-nav nav {
    height: 100%;
}

.main-nav nav menu {
    height: 100%;
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.main-nav nav menu li {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.main-nav nav menu li a {
    padding: 1em;
    transition: all 0.5s ease-in-out;
    color: #642c5f;
}

.main-nav nav menu li a:hover {
    border-radius: 10px;
    transform: scale(1.5);
    color: #c159b8;
}

/* MAIN */

main {
    width: 100%;
}

/* BANNER SLIDESHOW */

.slideshow {
    width: 100%;
    position: relative;
    margin: auto;
}

.bannerSlideshow {
    width: 100%;
}

.bannerSlideshow img {
    filter: brightness(70%);
    width: 100%;
}

.bannerSlideshow h2 {
    color: #f2f2f2;
    font-family: 'Great Vibes', cursive;
    font-size: 11vw;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
    
}

.bannerSlideshow p {
    font-size: 2vw;
    position: absolute;
    bottom: 28%;
    text-align: center;
    width: 100%;
    color: #f2f2f2;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
}

.bannerSlideshow div {
    width: 100%;
}

.bannerSlideshow a button {
    color: #642c5f;
    display: block;
    transition: 0.5s ease-in-out;
    background-color: rgb(248, 201, 234);
    font-family: 'Laila', sans-serif;
    font-size: 1.4vw;
    position: absolute;
    bottom: 12%;
    left: 45.5%;
    border-top: 2px solid #642c5f;
    border-right: 2px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    border-left: 2px solid #642c5f;
    border-radius: 5px;
    height: auto;
    padding: 0.5em 2em;
}

.bannerSlideshow a button:hover {
    color: #c159b8;
    background-color: rgb(252, 234, 247);
    transform: scale(0.9);
    cursor: pointer;
}

/* DOT INDICATORS */
.dot {
    height: 15px;
    width: 15px;
    margin: 5px 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #e2aedd;
}

/* FADE ANIMATION */

.fade {
    animation-name: fade;
    animation-duration: 6s;
    animation-timing-function: ease-in;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

/* PROMOTIONS SECTION */

.promos {
    width: 90%;
    margin: auto;
}

.title {
    display: flex;
    align-items: center;
}

.title h3 {
    font-size: 85px;
    color: #642c5f;
    font-family: "Dolly";
    text-transform: lowercase;
}

.title img {
    height: 50px;
    margin-left: 1em;
}

.promo-imgs {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.promo-imgs div {
    width: 18vw;
    height: 18vw;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(15px 10px 4px #642c5f);
}

#shirts{
    background-image: url(../images/shirt3.jpg);
    background-size: contain;
    filter: brightness(70%);
}

#figures {
    background-image: url(../images/figure5.jpg);
    background-size: contain;
    filter: brightness(70%);
}

#makeup {
    background-image: url(../images/makeup4.jpg);
    background-size: contain;
    filter: brightness(70%);
}

#stickers {
    background-image: url(../images/sticker20.jpg);
    background-size: contain;
    filter: brightness(70%);
}

.promo-imgs p {
    font-size: 78px;
    font-family: "BoldTestament";
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px #ffffff;
}

#shirts:hover, #figures:hover, #makeup:hover, #stickers:hover {
    filter: none;
}

.promo-svg {
    width: 5%;
    margin: auto;
}

.promo-svg svg {
    position: absolute;
    width: 18vw;
    height: 18vw;
}

.promo-svg rect {
    fill: none;
    stroke: #ff2674; 
    stroke-width: 10; 
    stroke-dasharray: 422, 0;
    transition: all .35s linear; 
}

.promo-svg:hover rect {
    stroke-width: 0;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 50;
    transition: all 1s ease-in-out;
}